<div>
  <br>
  <h1><%= @user.username %>'s Profile</h1>
  <div id="avatar" class="avatar">
    <img src="/assets/default_avatar.png" alt="default avatar">
  </div>
  <br>
</div>
<%= button_to "Upload Avatar", edit_user_path(@user), method: :get %>
