<% if current_user %>

  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_area :message %>

    <%= form.submit "Submit" %>
  <% end %>
<% else %>
  <div>
    Sorry, you need to be logged in to make a new post
  </div>
<% end %>
